 {{>header}}
  <article>

      <div class="cardA">
          <p>{{#each data}}
          <div class="card" style="width: 18rem;">
      <img src="{{this.urlToImage}}" class="card-img-top" alt="...">
      <div class="card-body">
       <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>
{{/each}}</p>
      </div>
      
  </article>
{{>footer}}
