<html>

<head>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    {{>header}}
    <h1>Home page from html</h1>
     <p>{{home}}</p>
    <p>{{title}}</p>
    <p>{{messege}}</p>
    <p>{{name}}</p>
    {{>footer}}
  
</body>
</html>